 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages
- Commonly Used Libraries
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:
- Panda
- Matplotlib
- Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache|
|NumPy|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mulitply then add integers

In [26]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [64]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 120
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Author 
Edna Green